$brand-primary: #ff2773;
$brand-primary-light: #ff4d95;
$brand-secondary: #2b1e70;
$brand-secondary-light: #252d9b;

$text-primary: #190134;
$text-secondary: #685879;
$text-tertiary: #b3abbc;
$text-success: #5cc689;
$text-error: #ee7d52;
$text-white: #ffffff;
$text-link: #252d9b;

$element-primary: #ffffff;
$element-secondary: #685879;
$element-tertiary: #b3abbc;
$element-success: #5cc689;
$element-error: #ee7d52;
$element-neutral: #eaeaea;
$element-overlay: #2b1e70;

$font-xxl: 32px;
$font-xl: 24px;
$font-lg: 20px;
$font-md: 16px;
$font-sm: 14px;
$font-xs: 12px;

$lineheight: 140%;

$font-weight-normal: 400;
$font-weight-bold: 700;
