* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ebeff7;
}

.App {
    display: flex;
}

.heading {
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.heading--h1 {
    font-size: 32px;
}

.heading--h2 {
    font-size: 24px;
}

.heading--h3 {
    font-size: 20px;
}

.heading--h4 {
    font-size: 16px;
}

.heading--h5 {
    font-size: 14px;
}

.heading--h6 {
    font-size: 12px;
}

.text {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
}

.link {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-decoration: underline;
    color: #000;
}

.text--small {
    font-size: 14px;
    line-height: 140%;
}

.text--bold {
    font-weight: 700;
}

.text--primary {
    color: #190134;
}

.text--secondary {
    color: #685879;
}
