.main {
    padding: 48px;
    display: inline-block;
    vertical-align: top;
}

.main__header p {
    margin-top: 16px;
}

.section {
    margin: 24px 0;
}

.section__title {
    color: #190134;
}

.section__subsection {
    margin: 16px 0;
}

.section__subsection__content {
    padding: 16px 0;
}

.section__content__typography {
    display: flex;
    flex-wrap: wrap;
}

.section__subsection--typography {
    width: 200px;
    padding: 32px 0;
}

.colorcard--container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.colorcard {
    width: 220px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.colorcard__color {
    height: 120px;
}

.colorcard__footer {
    padding: 16px;
}

.section__subsection--typography .heading {
    margin: 12px 0;
    text-align: center;
}

.section__subsection--typography.texts {
    margin-left: 200px;
    text-align: center;
}

.section__subsection--typography .typography__item {
    margin: 12px 0;
}

.shadows {
    padding: 16px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.shadows__card {
    width: 68px;
    height: 68px;
    background-color: #fff;
}
