.groups {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        .heading {
            margin-bottom: 8px;
        }

        $g: &;

        &--buttons {
            #{$g}__content {
                display: flex;
                gap: 30px;
            }
        }
    }

    &--buttons {
        gap: 30px;
    }
}
